<div class="container bg-color-darker text-white text-right">
  <%= fa_icon "home" %> |
  <%= fa_icon "search" %> |
  <%= fa_icon "share-square" %> |
  <%= fa_icon "sign-in" %> |
  <%= fa_icon "question-circle" %> |
  <%= fa_icon "envelope" %>
</div>

<div class="container bg-logo">

  <div class="row">
    <div class="col-4">
        <%= image_tag("ousia-owl.png", class: "my-2") %>
        <%#= image_tag("ousia-owl.png"), class:"img_preview" %>
    </div>

    <div class="col-8 v-center-h-end">
        <button type="button" class="btn btn-primary mr-2">About</button>
        <button type="button" class="btn btn-primary multilinebutton">Log In or Create an Account</button>
    </div>

  </div>
</div>

<div class="container py-1 bg-logo-darker">
</div>

<div class="container bg-container">
  <div class="row">
    <div class="col-6 v-center-h-center">
      <div>
        <h1>Eine Interaktive Lernumgebung</h1>
        <h3 class="text-muted">Universität Luzern</h3>
      </div>
    </div>

    <div class="col-6 p-2">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L9AkpdVtK9A" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container bg-white p-5">
  <div class="row">
    <div class="col-12">
      <div>
        <h2>About Ousia</h2>
  			<p class="text-justify">
          The goal of Ousia is to establish a vigorous collaborative research group centred around the chair of philosophy of the Faculty
          of Theology at the University of Lucerne, occupied by Giovanni Ventimiglia, working both historically and systematically on
          questions of being and anchored in the analytic tradition.
  			</p>
      </div>
    </div>
  </div>
</div>

<div class="container bg-container p-5">
  <h1>Bachelor-Kurse</h1>
  <br>

<div class="card-deck">
  <div class="card">
    <%= image_tag("bible.jpg", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">Einführung in die Theologie</h5>
      <p class="card-text">Theologie bedeutet „die Lehre von Gott“ oder Göttern im Allgemeinen und die Lehren vom Inhalt eines spezifischen religiösen Glaubens und seinen Glaubensdokumenten im Besonderen.</p>

    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-success text-white">Anmelden</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag("benedict-de-spinoza.jpg", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">Die Philosophie von Spinoza</h5>
      <p class="card-text">Spinoza war ein niederländischer Philosoph und Sohn portugiesischer Immigranten sephardischer Herkunft und portugiesischer Muttersprache.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-success text-white">Anmelden</a>
    </div>
  </div>

  <div class="card">
    <%= image_tag("ontology.png", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">Was ist Ontologie?</h5>
      <p class="card-text">Ontologie Die Ontologie ist eine Disziplin der Philosophie, die sich mit der Einteilung des Seienden und den Grundstrukturen der Wirklichkeit befasst.</p>
    </div>

    <div class="card-footer">
      <a href="#" class="btn btn-success text-white">Anmelden</a>
    </div>
  </div>


</div>

</div>

<div class="container bg-white p-5">
  <div class="row">
    <div class="col-12">
      <div>
        <h2>Ousia FAQ</h2>
        <p>
          <a href="#" class="btn btn-success text-white">Frequently asked questions</a>
        </p>

  			<p class="text-justify">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed mi nisi. Donec auctor convallis lacinia. Sed volutpat tellus in mauris iaculis pretium eget maximus lectus. Morbi in dui ex. Integer eu ipsum pellentesque, tempor ante vel, suscipit sapien. Ut at bibendum erat, a rhoncus neque. Aenean facilisis, sapien non pulvinar molestie, leo arcu elementum libero, nec porta elit felis ac diam. Nullam dictum nunc at risus vehicula interdum. Morbi porta, magna quis ultrices laoreet, velit purus semper tellus, nec laoreet justo odio bibendum est.
  			</p>
      </div>
    </div>
  </div>
</div>
