<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @meeting.topic %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Type of meeting:</strong>
  <%= @meeting.type_of_meeting %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
