<div class="m-4">
<%= simple_form_for Literature.new, remote:true do |f| %>

    <%= f.input :title %>
    <%= f.input :attachment %>
    <br>

    <%= f.hidden_field :session_id, value: session.id %>

    <%= f.button :submit, "Create", class: "btn btn-success btn-lg" %>
<% end %>

</div>
