<%#= form_with (model: [course, session], local: true) do |form| %>
<%#= form_with(model: [course, session], url: [course, session], local: true) do |form| %>
<div class="m-4">
<%= simple_form_for(session) do |f| %>

    <%= f.input :topic %>
        <%= f.input :type_of_session, collection: Rails.configuration.types_of_session %>
    <%= f.input :description %>
    <%= f.input :date, order: [:day, :month, :year] %>

    <%= f.hidden_field :course_id, value: course.id %>

    <%= f.button :submit, "Create", class: "btn btn-success btn-lg" %>
<% end %>

</div>
