<div class="alert alert-dark" role="alert">
  Zu Lesende Literatur:
</div>

<% meeting.literatures.each do |literature| %>
<div class="row">
  <div class="col-4">
    <% if literature.attachment.attached? %>

      <% if literature.attachment.previewable? %>
        <%= link_to rails_blob_path(literature.attachment, disposition: "attachment"), class: "btn btn-light" do %>
          <%= image_tag literature.attachment.preview(resize: "500"), class: "img-fluid" %>
        <% end %>
      <% else %>
        <%= fa_icon "file" %>
      <% end %>

      <% else %>

      <%= fa_icon "file" %>

    <% end %>
  </div>
  <div class="col-8">
    <p>
      <%= literature.title %>
    </p>
    <hr>
    <% if literature.attachment.attached? %>
    <%= link_to rails_blob_path(literature.attachment, disposition: "attachment"), class: "btn btn-light" do %>
      <%= fa_icon "download" %>
      <% end %>

      <% else %>
      <button type="button" class="btn btn-light"><%= fa_icon "download" %></button>
    <% end %>
  </div>
</div>

<hr>
<% end %>

<% if user_signed_in? && current_user.is_admin? %>
      <%= render 'courses/form_for_literature', meeting: meeting %>
<% end %>
