<nav class="navbar navbar-light navbar-expand-md bg-logo justify-content-center">
  <%= link_to root_path, class: "navbar-brand d-flex w-50 mr-auto" do %>
      <%= image_tag("ousia-owl.png", class: "img-fluid", style: "height: 75px;") %>
  <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= @course.title %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "Meine Kurse", root_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Meine Noten", root_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Übersicht", root_path, class:"nav-link" %>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </div>
</nav>
