<nav class="navbar navbar-expand-sm navbar-light mb-4 bg-logo">
  <%= link_to root_path do %>
      <%= image_tag("ousia-owl.png", class: "img-fluid", style: "height: 75px;") %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @course.title %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Meine Kurse", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Meine Noten", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Übersicht", root_path, class:"nav-link" %>
      </li>
    </ul>

  </div>
</nav>
