<%= render "navigation" %>

<%= flash_messages %>

<%= render "top", course: @course %>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div id="sideoverview">
        <%= render "sideoverview", course: @course %>
      </div>

    </div>
    <div class="col-8">
      <div id="meeting">
        <%= render "meeting", course: @course, meeting: @meeting %>
      </div>
  </div>
</div>
</div>
