<%= render "navigation" %>

<p id="notice"><%= notice %></p>


<div class="container">
  <div class="card mb-3">
    <img class="card-img-top" src="https://lorempixel.com/480/680/" alt="Card image cap">
    <div class="card-body">
      <h1 class="card-title"><%= @course.title %></h1>
      <p class="card-text"><%= @course.description %></p>
      <p class="card-text"><small class="text-muted"><strong>Semester:</strong> <%= @course.semester %></small></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item text-center">
          <h3>Übersicht</h3>
        </a>


        <% @course.sessions.order(:date).each_with_index do |session, i| %>
        <% if i == 0 %>

          <a class="list-group-item list-group-item-action flex-column align-items-start active" id="list-home-list" data-toggle="list" href="#list-<%= session.id %>" role="tab" aria-controls="home">
        <% else %>

          <a class="list-group-item list-group-item-action flex-column align-items-start" id="list-home-list" data-toggle="list" href="#list-<%= session.id %>" role="tab" aria-controls="home">
        <% end %>

          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= session.topic %></h5>
          </div>
          <br>
          <p class="mb-1"><%= fa_icon "calendar" %> <%= session.date.strftime("%d-%m-%Y") %></p>
        </a>
        <% end %>


      </div>
    </div>
    <div class="col-8">

      <div class="tab-content" id="nav-tabContent">
        <% @course.sessions.order(:date).each_with_index do |session, i| %>
        <% if i == 0 %>

          <div class="tab-pane fade show active" id="list-<%= session.id %>" role="tabpanel" aria-labelledby="list-profile-list">
        <% else %>

        <div class="tab-pane fade" id="list-<%= session.id %>" role="tabpanel" aria-labelledby="list-profile-list">
        <% end %>
            <div class="card mb-3">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L9AkpdVtK9A" allowfullscreen></iframe>
              </div>
              <div class="card-body">
                <h2 class="card-title"><%= session.topic %></h2>
                <p class="card-text"><%= session.description %></p>
                <p class="card-text"><small class="text-muted"><b>Datum: </b><%= session.date.strftime("%d-%m-%Y") %></small></p>
              </div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>

<div class="container">
  <div class="card mb-3">
    <%= render 'form_for_session', course: @course, session: @session %>
    <%#= render 'form_for_session', course: @course, session: @course.sessions.first %>

    <%= link_to 'Edit', edit_course_path(@course) %> |
    <%= link_to 'Back', courses_path %>
  </div>
</div>
